<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PrimeiroServlet</servlet-name>
  	<display-name>PrimeiroServlet</display-name>
  	<description></description>
  	<servlet-class>br.edu.ifce.servlets.PrimeiroServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormLogin</servlet-name>
  	<display-name>FormLogin</display-name>
  	<description></description>
  	<servlet-class>br.edu.ifce.servlets.FormLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>br.edu.ifce.servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SendMail</servlet-name>
  	<display-name>SendMail</display-name>
  	<description></description>
  	<servlet-class>br.edu.ifce.servlets.SendMail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>br.edu.ifce.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PrimeiroServlet</servlet-name>
  	<url-pattern>/PrimeiroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormLogin</servlet-name>
  	<url-pattern>/FormLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SendMail</servlet-name>
  	<url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
